.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
  text-align: center;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #fff;
    text-transform: uppercase;
  }
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}
