<div class="container">
    <div class="info-page">
        <span class="info"><a [routerLink]="['/']">página inicial</a> > espécies</span>
        <div class="input-container">
            <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Pesquisar"
                class="search-input">
            <span *ngIf="searchTerm" class="clear-icon" (click)="clearSearch()">X</span>
        </div>


    </div>

    <div class="especie-content" *ngIf="speciesList.length > 0">
        <div *ngFor="let specie of filteredSpeciesList">
            <a class="link" (click)="showPersonDetails(specie)"> {{ specie.name }} <span>></span></a>
            <hr />
        </div>
        <app-bg-list></app-bg-list>
    </div>
</div>