<div class="Group-btn">
    <div class="button-row">
        <button class="button" (click)="navigateTo('pessoas')">Pessoas</button>
        <button class="button" (click)="navigateTo('planetas')">Planetas</button>
        <button class="button" (click)="navigateTo('filmes')">Filmes</button>
    </div>

    <div class="button-row">
        <button class="button" (click)="navigateTo('especies')">Espécies</button>
        <button class="button" (click)="navigateTo('veiculos')">Veículos</button>
        <button class="button" (click)="navigateTo('espaconaves')">Espaçonaves</button>
    </div>
</div>