<div class="container">
    <div class="info-page">
        <span class="info"><a [routerLink]="['/']">página inicial</a> > planetas</span>
        <div class="input-container">
            <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" placeholder="Pesquisar"
                class="search-input">
            <span *ngIf="searchTerm" class="clear-icon" (click)="clearSearch()">X</span>
        </div>


    </div>

    <div class="planet-content" *ngIf="planetList.length > 0">
        <div *ngFor="let planet of filteredPlanetList">
            <a class="link" (click)="showPlanetDetails(planet)"> {{ planet.name }} <span>></span></a>
            <hr />
        </div>
        <app-bg-list></app-bg-list>
    </div>
</div>